<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Placement Portal</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
</head>
<body>

<div class="container">
    <h1>Welcome to Placement Portal</h1>

    <div class="buttons">
        <a href="/login" class="btn">Login</a>
        <a href="/register/student" class="btn">Register as Student</a>
        <a href="/register/company" class="btn">Register as Company</a>
    </div>
</div>

</body>
</html>